{% extends "base.html" %}



{% block content %}
<div class="col-5">
    <h3>Modifiez votre mot de passe</h3>
    {% if form.errors %}
    <div class="alert alert-danger">
        Corrigez les erreurs ci-dessous
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}

        {% for input in form %}
        <div class="mb-3">
            <label for="{{input.name}}">{{input.label}}</label>
            <input type="password" name="{{input.name}}" class="form-control {% if input.errors %}
                    is-invalid{% endif %}">
            {% if input.help_text %}
            <p class="text-muted">{{input.help_text}}</p>
            {% endif %}
            <div class="invalid-feedback mt-0">
                {{input.errors}}
            </div>
        </div>
        {% endfor %}


        <button class="btn btn-dark btn-block btn-sm" type="submit"> Modifier mon mot de passe </button>
    </form>

</div>

{% endblock content %}