{% url 'password_change_view' as password_change_url %}
{% url 'backoffice:room-add' as room_add_url %}
{% url 'backoffice:room-list' as room_list_url %}
{% url 'backoffice:product-add' as product_add_url %}
{% url 'backoffice:product-list' as product_list_url %}

<nav class="navbar navbar-expand-lg sticky-top navbar-light flex-md-nowrap bg-light">
  <div class="container-fluid">
    <h1 class="h3">Verger</h1>

    {% if request.user.is_authenticated %}

    <div class="container">
      <ul class="navbar-nav pl-4 me-auto mb-2 mb-lg-0 ml-auto" style="margin-left:6.2rem">
        
        <li class="nav-item dropdown d-inline">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="text-dark">
              Restaurant</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{room_add_url}}">Ajouter une salle de vente</a></li>
            <li><a class="dropdown-item" href="{{room_list_url}}">Les salles de ventes</a></li>
            <li><a class="dropdown-item" href="{{product_add_url}}">Ajouter un produit</a></li>
            <li><a class="dropdown-item" href="{{product_list_url}}">Tous le produits</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown d-inline">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="text-dark">
              Gérer les utilisateurs</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Ajouter un caissier</a></li>
            <li><a class="dropdown-item" href="#">Liste des utilisateurs</a></li>
          </ul>
        </li>
        <li class="nab-item">
          <span class="nav-link"> Connecté en tant que</span>
        </li>
        <li class="nav-item dropdown d-inline">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="text-dark">
              {{request.user.username}}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{password_change_url}}">Modifier mot de passe</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="{% url 'logout' %}">Déconnexion</a>
        </li>
      </ul>

    </div> {% endif %}

  </div>
</nav>