{% url 'password_change_view' as password_change_url %}
{% url 'backoffice:room-add' as room_add_url %}
{% url 'backoffice:room-list' as room_list_url %}
{% url 'backoffice:product-add' as product_add_url %}
{% url 'backoffice:product-list' as product_list_url %}
{% url 'backoffice:user-add' as user_add_url %}
{% url 'backoffice:user-list' as user_list_url %}

{% with is_superuser=request.user.is_superuser %}

<nav class="navbar navbar-expand-lg sticky-top navbar-light flex-md-nowrap bg-light"
  style="border-bottom: 0.1rem solid #dedfe0">
  <div class="container-fluid">
    <a href="{% url 'backoffice:home' %}" class="h3 text-decoration-none text-dark">Verger</a>

    {% if request.user.is_authenticated %}

    <div class="container">
      <ul class="navbar-nav pl-4 me-auto mb-2 mb-lg-0 ml-auto" style="margin-left:6.2rem">
        {% if is_superuser %}
        <li class="nav-item">
          <a class="nav-link text-primary" href=""> Transfert</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown d-inline">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="text-dark">
              Restaurant</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if is_superuser %}
            <li><a class="dropdown-item" href="{{room_add_url}}">Ajouter une salle de vente</a></li>
            <li><a class="dropdown-item" href="{{product_add_url}}">Ajouter un produit</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{{product_list_url}}">Tous le produits</a></li>
            <li><a class="dropdown-item" href="{{room_list_url}}">Les salles de ventes</a></li>

          </ul>
        </li>
        {% if is_superuser %}
        <li class="nav-item dropdown d-inline">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="text-dark">
              Gérer les caissiers</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{user_add_url}}">Ajouter un caissier</a></li>
            <li><a class="dropdown-item" href="{{user_list_url}}">Liste des caissiers</a></li>
          </ul>
        </li> {% endif %}
        <li class="nav-item">
          <span class="nav-link"> Connecté en tant que</span>
        </li>
        <li class="nav-item dropdown d-inline">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="text-dark">
              {{request.user.username}}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{password_change_url}}">Modifier mot de passe</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="{% url 'logout' %}">Déconnexion</a>
        </li>
      </ul>

    </div> {% endif %}

  </div>
</nav>
{% endwith %}