 {% url 'backoffice:home' as dashboard_url %}
 {% url 'backoffice:dish-add' as dish_add_url %}
 {% url 'backoffice:buying-add' as buying_add_url %}
 {% url 'backoffice:menu_restaurant' as menu_restaurant %}

{% with is_superuser=request.user.is_superuser %}



 <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
     <div class="position-sticky">
         <ul class="nav flex-column mt-4 mb-2">

             <li class="nav-item">
                 <a class="nav-link {% if request.path == dashboard_url %}active{% endif %}" aria-current="page"
                     href="{{dashboard_url}}">
                     <span data-feather="activity"></span>
                     TABLEAU DE BORD
                 </a>
             </li>

         </ul>
         <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
             <span>Restaurant</span>
         </h6>
         <ul class="nav flex-column">
             <li class="nav-item">
                 <a class="nav-link {% if request.path == dish_add_url %} active{% endif %}" aria-current="page"
                     href="{{dish_add_url}}">
                     <span data-feather="plus"></span>
                     Ajout un plat au menu
                 </a>
             </li>

             <li class="nav-item">
                 <a class="nav-link " href="#">
                     <span data-feather="plus"></span>
                     Ajouter une boisson
                 </a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="{{menu_restaurant}}">
                     <span data-feather="list"></span>
                     Le Menu du restaurant
                 </a>
             </li>

         </ul>
         {% if is_superuser %}
         <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
             <span>Achats</span>

         </h6>
         <ul class="nav flex-column">

             <li class="nav-item">
                 <a class="nav-link {% if request.path == buying_add_url %} active{% endif %}" aria-current="page" href="{{buying_add_url}}">
                     <span data-feather="shopping-cart"></span>
                     Nouvel achat
                 </a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#">
                     <span data-feather="list"></span>
                     Liste des achats
                 </a>
             </li>

         </ul>
         {% endif %}
         <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
             <span>Ventes</span>

         </h6>
         <ul class="nav flex-column">

             <li class="nav-item">
                 <a class="nav-link" aria-current="page" href="#">
                     <span data-feather="plus"></span>
                     Nouvelle facture
                 </a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#">
                     <span data-feather="dollar-sign"></span>
                     Factures
                 </a>
             </li>

             <li class="nav-item">
                 <a class="nav-link" href="{% url 'backoffice:state_sale' %}">
                     <span data-feather="bar-chart-2"></span>
                     Etat de ventes
                 </a>
             </li>

         </ul>


     </div>
 </nav>

 {% endwith %}