{% extends "base.html" %}

{% block content %}

    <div class="col-6">
    
        {% if messages %}
            {% include "backoffice/includes/message.html" %}        
        {% endif %}

        <div class="div d-flex align-items-center justify-content-between mb-3">
            <h1 class="h5">Ajouter une Boisson</h1>
            <a href="">Liste des Boissons</a>
        </div>

        <form method="post">
            {% csrf_token %}

            {% for input in form %}
            <div class="mb-3">
                <label for="{{input.name}}">{{input.label}}</label>
                {{input}}
                {% if input.help_text %}
                    <p class="text-muted mb-0">{{input.help_text}}</p>
                {% endif %}
                {{input.errors}}
            </div>
            {% endfor %}

            <button class="btn btn-sm btn-dark" type="submit">Ajouter la boisson</button>
        </form>

    </div>

{% endblock content %}