{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-3">
        <div class="card p-3 d-flex flex-column justify-content-between" style="min-height: 144px">

            <h1 class="h5 mb-1">
                Etat de vente journalier
            </h1>
            <p class="mb-1"><span class="h3">00</span> ventes</p>
            <a href="" class="">Détails</a>
        </div>

    </div>

    <div class="col-3">
        <div class="card p-3 d-flex flex-column justify-content-between" style="min-height: 144px">

            <h1 class="h5 mb-1">
                Stock Magasin
            </h1>
            <p class="mb-1"><span class="h3">00</span> Boissons et/ou Produits</p>
            <a href="" class="">Détails</a>
        </div>

    </div>
    <div class="col-3">
        <div class="card p-3 d-flex flex-column  justify-content-between" style="min-height: 144px">

            <h1 class="h5 mb-1">
                Stock Cuisine ou Cave
            </h1>
            <p class="mb-1"><span class="h3">00</span> Boissons et/ou Produits</p>
            <a href="" class="">Détails</a>
        </div>

    </div>
    <div class="col-3">
        <div class="card p-3 d-flex flex-column justify-content-between" style="min-height: 144px">

            <h1 class="h5 mb-1">
                Plats du Menu
            </h1>
            <p class="mb-1"><span class="h3">00</span> plats au menu</p>
            <a href="" class="">Détails</a>
        </div>

    </div>
</div>
<div class="row container mt-4">
    <div class="col-lg-12">
        <h2>
            Liste des factures recentes
        </h2>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ORDER</th>
            <th scope="col">DATE</th>
            <th scope="col">SHIP TO</th>
            <th scope="col">STATUT</th>
            <th scope="col">AMOUNT</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>#92848F492</td>
            <td>20/04/2020</td>
            <td>Table 23, Salle VIP Pro Max</td>
            <td>
                <span class="badge bg-success">Success</span>
            </td>
            <td>
                93,094 XAF
            </td>
            <td>
                <a href="" class="btn btn-primary">Voir plus</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

{% endblock content %}