{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-3">
        <div class="card p-3 d-flex flex-column justify-content-between" style="min-height: 144px">

            <h1 class="h5 mb-1">
                Etat de vente journalier
            </h1>
            <p class="mb-1"><span class="h3">00</span> ventes</p>
            <a href="" class="">Détails</a>
        </div>

    </div>

    <div class="col-3">
        <div class="card p-3 d-flex flex-column justify-content-between" style="min-height: 144px">

            <h1 class="h5 mb-1">
                Stock Magasin
            </h1>
            <p class="mb-1"><span class="h3">00</span> Boissons et/ou Produits</p>
            <a href="" class="">Détails</a>
        </div>

    </div>
    <div class="col-3">
        <div class="card p-3 d-flex flex-column  justify-content-between" style="min-height: 144px">

            <h1 class="h5 mb-1">
                Stock Cuisine ou Cave
            </h1>
            <p class="mb-1"><span class="h3">00</span> Boissons et/ou Produits</p>
            <a href="" class="">Détails</a>
        </div>

    </div>
    <div class="col-3">
        <div class="card p-3 d-flex flex-column justify-content-between" style="min-height: 144px">

            <h1 class="h5 mb-1">
                Plats du Menu
            </h1>
            <p class="mb-1"><span class="h3">00</span> plats au menu</p>
            <a href="" class="">Détails</a>
        </div>

    </div>
</div>
<div class="row">
    <h2>
        Liste des factures recente
    </h2>
</div>

{% endblock content %}