{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-around">
    <div class="card" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title">
                Etat de vente journalier restaurant
            </h5>
            <p class="card-text">
                Voir le total de chiffre d'affaire realiser aujourd'hui.
            </p>
            <h3>
                0.0 FCFA
            </h3>
        </div>
        <div class="card-footer text-muted text-right ">
            <a href="#" class="card-link text-decoration-none">Voir plus <span data-feather="arrow-right"></span></a>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title">
                Nombre de plat dans le Menu
            </h5>
            <p class="card-text">
               Total des plats que contient le menu du restaurant.
            </p>
            <h3>
                0234
            </h3>
        </div>
        <div class="card-footer text-muted text-right ">
            <a href="#" class="card-link text-decoration-none">Voir plus <span data-feather="arrow-right"></span></a>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title">
                Stock total en Magasin du restaurant
            </h5>
            <p class="card-text">
                Voir le total de chiffre d'affaire realiser aujourd'hui.
            </p>
            <h3>
                000 Unité
            </h3>
        </div>
        <div class="card-footer text-muted text-right ">
            <a href="#" class="card-link text-decoration-none">Voir plus <span data-feather="arrow-right"></span></a>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title">
                Stock total en Cuissine du restaurant
            </h5>
            <p class="card-text">
                Voir le total de chiffre d'affaire realiser aujourd'hui.
            </p>
            <h3>
                000 Unité
            </h3>
        </div>
        <div class="card-footer text-muted text-right ">
            <a href="#" class="card-link text-decoration-none">Voir plus <span data-feather="arrow-right"></span></a>
        </div>
    </div>
</div>
{% endblock content %}